/* TODO: Split this out into its own files like so: 
@import url('../components/SomeComponent/SomeComponent.css'); */

/* About Me */

.c-about-me {
  margin-top: 5rem;
}

.c-about-me-title {
  margin-top: 0;
}

.c-about-me__title {
  font-size: var(--g-font-size-3x-large);
  font-weight: var(--g-font-weight-bold);
  margin: var(--g-spacing-2x-large);
}

.c-about-me__text {
  margin: 0;
  padding: var(--g-spacing-x-small) 0;
  font-size: 0.75rem;
  max-width: 80%;
}

/* Avatar */
.c-avatar--border-red {
  border: 2px solid #f78888;
}

.c-avatar--border-green {
  border: 2px solid #f3d250;
}

.c-avatar--border-blue {
  border: 2px solid #90ccf4;
}

.c-role-indicator {
  position: relative;
}

.c-role-indicator--top-right {
  left: 2.1rem;
  top: 1.2rem;
}

.c-role-indicator--bottom-right {
  left: 2.1rem;
  top: 3.5rem;
}

.c-avatar {
  align-items: center;
  border-radius: var(--g-border-radius-full);
  display: flex;
  overflow: hidden;
  height: var(--g-spacing-4x-large);
  justify-content: center;
  width: var(--g-spacing-4x-large);
}

.c-avatar__image {
  width: 100%;
}

.c-avatar__initials {
  text-decoration: none !important;
  text-transform: uppercase;
}

.c-avatar__title {
  background-color: var(--g-color-brand-tertiary);
  color: var(--g-color-white);
  font-weight: var(--g-font-weight-semibold);
}

/* Button  */

/* CoverLink  */
.c-cover-link {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* CloutPanel  */
.c-clout-panel {
  display: flex;
  list-style: none;
  padding: 0;
}

.c-clout-panel__list-item {
  margin-right: var(--g-spacing-3x-large);
}

.c-clout-panel__clout-amount {
  font-weight: var(--g-font-weight-bold);
  margin-right: var(--g-spacing-2x-small);
}

.c-clout-panel__clout-type {
}

@media only screen and (max-width: 680px) {
  .c-clout-panel {
    width: 100%;
    font-size: var(--g-font-size-small);
    justify-content: space-between;
  }

  .c-clout-panel__list-item {
    margin-right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

/* DesktopHeader  */

.c-desktop-header {
  align-items: center;
  border-bottom: 1px solid var(--g-color-grey);
  color: var(--g-color-grey-50);
  display: flex;
  justify-content: space-between;
  padding: var(--g-spacing);
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.c-desktop-header__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--g-container-narrow-max-width);
  width: 100%;
}

.c-desktop-header__avatar {
  width: 1.5rem;
  height: 1.5rem;
}

.c-desktop-header__user-name {
  font-size: var(--g-font-size-3x-large);
  font-weight: var(--g-font-weight-bold);
  margin: 0;
}

.c-desktop-header__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.c-desktop-header__image {
  height: 2rem;
}

.c-desktop-header__nav-icons {
  display: flex;
}

/* MobileHeader */

.c-mobile-header {
  align-items: center;
  border-bottom: 1px solid var(--g-color-grey);
  color: var(--g-color-grey-50);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: var(--g-spacing-small) var(--g-spacing);
  right: 0;
  top: 0;
  z-index: 1;
}

.c-mobile-header__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: var(--g-container-narrow-max-width);
  width: 100%;
}

.c-mobile-header__avatar {
  width: var(--g-spacing-large);
  height: var(--g-spacing-large);
}

.c-mobile-header__user-name {
  font-size: var(--g-font-size-large);
  font-weight: var(--g-font-weight-bold);
  margin: 0;
}

.c-mobile-header__icon {
  width: var(--g-spacing-large);
  height: var(--g-spacing-large);
}

.c-mobile-header__image {
  height: 2rem;
}

.c-mobile-header__nav-icons {
  display: flex;
}

/* Icon  */

/* Icons  */

/* ImageCard  */
.c-page-preview-card {
  color: var(--g-color-black-900);
  display: flex;
  flex-direction: column;
  max-width: var(--g-page-preview-card-width);
  position: relative;
  width: var(--g-page-preview-card-width);
}

.c-page-preview-card--is-hero {
  max-width: 100%;
  width: 100%;
}

.c-page-preview-card--is-hero > .c-page-preview-card__title {
  font-size: var(--g-font-size-6x-large);
  font-weight: var(--g-font-weight-bold);
  line-height: var(--g-font-size-6x-large);
  text-transform: uppercase;
}

.c-page-preview-card__image-container {
  border-radius: var(--g-border-radius-medium);
  margin-bottom: var(--g-spacing-small);
  overflow: hidden;
}

.c-page-preview-card__image {
  height: var(--g-page-preview-card-height);
  object-fit: cover;
  transition: var(--g-animation-transition);
  width: 100%;
}

.c-page-preview-card:hover .c-page-preview-card__image {
  transform: scale(1.04);
  transform-origin: 50% 50%;
}

.c-page-preview-card__sub-title {
  font-size: var(--g-font-size-large);
  line-height: var(--g-font-size-2x-large);
  margin-bottom: var(--g-spacing-small);
  text-transform: uppercase;
}

.c-page-preview-card__title {
  font-size: var(--g-font-size-4x-large);
  line-height: var(--g-font-size-4x-large);
  margin-bottom: var(--g-spacing-small);
}

/* UserRoleIndicator  */

/* Preloader */

.c-preloader-overlay {
  align-items: center;
  background-color: rgba(223, 223, 223, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color 0.5s ease-in-out;
  width: 100vw;
  z-index: 9999;
}

.c-preloader__wrapper {
  padding: 0.2rem;
}

.c-preloader__spinner {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  color: var(--g-color-black);
  animation: rotate 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* MobileProfileBlock */

.c-mobile-profile-block {
}

.c-mobile-profile-block__avatar-section {
  display: flex;
  align-items: center;
  width: 70%;
}

.c-mobile-profile-block__avatar {
  width: var(--g-profile-avatar-size-mobile);
  height: var(--g-profile-avatar-size-mobile);
  min-width: var(--g-profile-avatar-size-mobile);
  margin-right: var(--g-spacing-large);
}

.c-mobile-profile-block__bio-section {
  width: 60%;
}

.c-mobile-profile-block__user-name {
  font-size: var(--g-font-size-small);

  margin-bottom: var(--g-spacing-2x-small);
}

.c-mobile-profile-block__bio {
  font-size: var(--g-spacing-small);
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .c-mobile-profile-block__avatar-section {
    width: 100%;
  }
}
/* DesktopProfileBlock */

.c-desktop-profile-block {
  padding: 0 var(--g-spacing-3x-large);
  display: flex;
}

.c-desktop-profile-block__avatar-section {
  width: 40%;
}

.c-desktop-profile-block__avatar {
  height: var(--g-profile-avatar-size);
  min-width: var(--g-profile-avatar-size);
  width: var(--g-profile-avatar-size);
}

.c-desktop-profile-block__bio-section {
  width: 60%;
}

.c-desktop-profile-block__user-name {
  font-size: var(--g-font-size-3x-large);
  font-weight: var(--g-font-weight);
  margin-bottom: var(--g-spacing-x-small);
}

.c-desktop-profile-block__bio {
  font-size: var(--g-font-size-x-small);
  margin: 0;
}

/* Work */
.c-my-work {
  margin-top: 5rem;
}

.c-my-work-title {
  font-size: var(--g-font-size-3x-large);
  font-weight: var(--g-font-weight-bold);
  margin-top: 0;
}

.c-company-logo {
  margin: 1em 0 0;
}

.c-company-logo--netfront {
  width: 450px;
  height: 70px;
}

.c-company-logo--aremedia {
  height: 110px;
}

.c-company-logo--akcelo {
  height: 110px;
}

.c-company-logo--seerdataanalytics {
  margin-top: 0;
  width: 260px;
}

.c-company-description-text {
  margin: 0;
  padding: var(--g-spacing-x-small) 0;
  font-size: 0.75rem;
  max-width: 80%;
}

/* Spacing */
.h-spacing-none {
  margin-bottom: 0;
}

.h-spacing-3x-small {
  margin-bottom: var(--g-spacing-3x-small);
}

.h-spacing-2x-small {
  margin-bottom: var(--g-spacing-2x-small);
}

.h-spacing-x-small {
  margin-bottom: var(--g-spacing-x-small);
}

.h-spacing-small {
  margin-bottom: var(--g-spacing-small);
}

.h-spacing {
  margin-bottom: var(--g-spacing);
}

.h-spacing-large {
  margin-bottom: var(--g-spacing-large);
}

.h-spacing-x-large {
  margin-bottom: var(--g-spacing-x-large);
}

.h-spacing-2x-large {
  margin-bottom: var(--g-spacing-2x-large);
}

.h-spacing-3x-large {
  margin-bottom: var(--g-spacing-3x-large);
}

.h-spacing-4x-large {
  margin-bottom: var(--g-spacing-4x-large);
}

.h-spacing-5x-large {
  margin-bottom: var(--g-spacing-5x-large);
}

.h-spacing-6x-large {
  margin-bottom: var(--g-spacing-6x-large);
}
