/**
 * "Global" variables include a letter "g" to easily identify them, like so:
 *
 --g
 *
 * ----------------------------------------------------------------------------
 *
 * CONTENTS:
 *
 * 1.  Colours
 * 2.  Typography
 * 3.  Spacing
 * 4.  Z-Index
 * 6.  Cosmetics
 * 6.  Breakpoints

*/
/* Bitter */
/* Oswald */
#__next {
  /**
   *Shared Library Colour Palette
   *
   * The number colour scale works like the standard typography numbering
   * system, lower numbers represent lighter shades of the colour, with the
   * higher numbers representing the darker shades. Here's the scale:
   *
   *  50 - The lightiest of lights
   * 100 – Ultra-light.
   * 200 – Extra-light.
   * 300 – Semi-light.
   * 400 – Light.
   * 500 – Normal.
   * 600 – Dark.
   * 700 – Semi-dark.
   * 800 – Extra-dark.
   * 900 – Ultra-dark.
   */

  /* 1. Colours */

  /* All  */

  /* Blue */
  --g-color-blue: #90ccf4;

  /* Green */
  --g-color-green: #f3d250;

  /* Red */
  --g-color-red: #f78888;

  /* Accent / Neutral */
  --g-color-white: #fff;
  --g-color-black: #000;
  --g-color-off-black: #272529;
  --g-color-grey: #ececec;

  /* Utility colours */
  --g-color-warning: var(--g-color-blue-100);
  --g-color-success: var(--g-color-yellow-300);
  --g-color-error: var(--g-color-red-400);
  --g-color-info: var(--g-color-blue-300);
  --g-color-disabled: var(--g-color-grey-50);

  /* 2. Typography */
  /* Fonts */

  --g-font-fam-main: 'Oswald', sans-serif;
  --g-font-fam-secondary: 'Bitter', serif;

  /* Font sizes */

  /* Sizes */
  --g-font-size-6x-large: 2.75rem;
  --g-font-size-5x-large: 2.375rem;
  --g-font-size-4x-large: 2rem;
  --g-font-size-3x-large: 1.5rem;
  --g-font-size-2x-large: 1.375rem;
  --g-font-size-x-large: 1.25rem;
  --g-font-size-large: 1.125rem;
  --g-font-size: 1rem;
  --g-font-size-small: 0.875rem;
  --g-font-size-x-small: 0.75rem;
  --g-font-size-2x-small: 0.625rem;
  --g-font-size-3x-small: 0.5rem;

  /* Weights */
  --g-font-weight-extra-light: 200;
  --g-font-weight: 400;
  --g-font-weight-bold: 700;

  /* 3. Spacing */
  --g-spacing-6x-large: 5rem; /* 80px */
  --g-spacing-5x-large: 4rem; /* 64px */
  --g-spacing-4x-large: 3.25rem; /* 52px */
  --g-spacing-3x-large: 2.5rem; /* 40px */
  --g-spacing-2x-large: 2rem; /* 32px */
  --g-spacing-x-large: 1.5rem; /* 24px */
  --g-spacing-large: 1.25rem; /* 20px */
  --g-spacing: 1rem; /* 16px */
  --g-spacing-small: 0.75rem; /* 12px */
  --g-spacing-x-small: 0.5rem; /* 8px */
  --g-spacing-2x-small: 0.25rem; /* 4px */
  --g-spacing-3x-small: 0.125rem; /* 2px */

  /* 4. Z-Index */
  --g-z-underneath: -1;

  /* 5. Cosmetics */

  /* Overlay */
  --g-overlay: rgba(0, 0, 0, 0.6);

  /* Border */
  --g-border-transparent: 1px solid transparent;
  --g-border-primary: 1px solid var(--g-color-grey-100, #e4e4e3);
  --g-border-secondary: 1px solid var(--g-color-white, #fff);
  --g-border-round: 50%;

  /* Border Radius */
  --g-border-radius-x-small: 0.156rem; /*  2.5px */
  --g-border-radius-small: 0.313rem; /*  5px */
  --g-border-radius-medium: 0.625rem; /*  10px */
  --g-border-radius-large: 0.938rem; /*  15px */
  --g-border-radius-x-large: 1.563; /*  25px */
  --g-border-radius-pill: 2em;
  --g-border-radius-full: 50%;

  /* Focus */
  --g-focus-primary: 0 0 0 var(--g-spacing-3x-small) var(--g-color-blue), inset 0 0 0 var(--g-spacing-3x-small) var(--g-color-blue);
  --g-focus-secondary: 0 0 0 var(--g-spacing-3x-small) var(--g-color-green), inset 0 0 0 var(--g-spacing-3x-small) var(--g-color-green);
  --g-focus-danger: 0 0 0 var(--g-spacing-3x-small) var(--g-color-red), inset 0 0 0 var(--g-spacing-3x-small) var(--g-color-red);
  --g-focus-dark: 0 0 0 var(--g-spacing-3x-small) var(--g-color-off-black), inset 0 0 0 var(--g-spacing-3x-small) var(--g-color-off-black);

  /* Animation */
  --g-animation-transition: 0.2s ease-in-out;

  /* Container */
  --g-container-max-width: 120em; /* 1920px */
  --g-container-narrow-max-width: 61.125rem; /* 978px */

  /* ProfileBlock */
  --g-profile-avatar-size-mobile: 5rem; /* 80px */
  --g-profile-avatar-size: 9.375rem; /* 150px */

  /* 6. Breakpoints  */
  --g-size-small: 48em; /* 768px */
  --g-size-large: 80em; /* 1280px */
  --g-size-medium: 64em; /* 1024px */
}

/* COLOURS
  All Colours  ............................  red, green, blue, etc.
  Brand colours ...........................  Primary / Secondary / Tertiary.
  Accents / Neutral colours ...............  black / white / greys, and shades.
  Utility colours ......................... success, warning, info, danger etc.
  
  TYPOGRAPHY
  Font families ........................... Arial / Roboto etc.
  Font sizes .............................. --g-font-size: 1rem / --g-font-size-small: 1rem, etc.
  Font weights ............................ --g-font-weight: 400 / --g-font-weight-semibold: 600, etc.
  
  SPACING
  Spacing ................................. --g-spacing: 1rem etc.
  
  Z-INDEX
  Z Index ................................. --g-z-underneath: -1; etc.
  
  Cosmetics
  Border  ................................. --g-border-primary: 0.05rem solid var(--g-color-grey, #e4e4e3);
  Focus  ................................. --g-focus-primary: 0 0 0 var(--g-spacing-3x-small) var(--g-color-blue-200), inset 0 0 0 var(--g-spacing-3x-small) var(--g-color-white); //box-shadow: var(--g-focus-primary)
  
  BREAKPOINTS
  Breakpoints ............................. --g-size-md: 48em;  // 768px --g-size-md: 64em; // 1024em --g-size-md: 80em; // 1280em
  
  Margin
  Margins ................................. --g-margin-0-auto: even margin on both sides
  
  Transition
  Transitions .............................  --g-transition-time: 0.3s transition of 3 seconds
  */
