.l-page-container {
  margin: 0 auto;
  padding: 0 var(--g-spacing);
  max-width: var(--g-container-narrow-max-width);
}

.h-hide-visually {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap; /* 1 */
  width: 1px;
}

/* margin */

.mr {
  margin-right: var(--g-spacing);
}

.ml {
  margin-left: var(--g-spacing);
}

.mt {
  margin-top: var(--g-spacing);
}

.mb {
  margin-bottom: var(--g-spacing);
}
